
.post-card{
    display: flex;
    border: 1px solid #ffc107;
    padding: 1rem;
    font-size: 1.4rem;
    background-color: #ffffff;
}

.post-card__img p{
    text-align: center;
}

.post-card__img img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    margin: auto;
}

.post-card__text{
    padding-left: 1rem;
}

.post-card__text h4{
    font-size: 16px;
}

.post-card__text p{
    font-size: 14px;
}
