@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

header {
  font-family: 'Share Tech Mono', monospace;
  color: white;
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
}

.title{
  margin: 0 auto 15px auto;
  padding: 40px 25px 10px 25px;
}

.hr-header{
  width: 400px;
  border: 1px solid #ffffff;
}

